body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    color: rgb(9, 12, 11);
 }
 header{
     background-color: brown;
     color: antiquewhite;
     padding: 20px;
     text-align: center;
 }