img{
    width: 1000px;
    height: auto;
    margin: 40px 0;
    display: block;
}
img{
    width: 1000px;
    height: auto;
    margin: 40px 0;
    display: block;
}
img{
    width: 1000px;
    height: auto;
    margin: 40px 0;
    display: block;
}
img{
    width: 1000px;
    height: auto;
    margin: 40px 0;
    display: block;
}