body{
    font-family:'Times New Roman';
    background-color: white;
    color: black;
 }
 header{
    font-family:'Times New Roman';
    background-color: pink;
    padding: 10px;
    text-align: center;
    list-style-type: none;
 }
 main{
    font-family: 'Times New Roman';
    padding: 10px;
 }
 section{
    font-family: 'Times New Roman';
    text-align: justify;
 }
 img{
    width: 400px;
    height: auto;
    margin: 20px;
    display:block;
    align-self: center;
 }