body{
    font-family:'Times New Roman';
    background-color: white;
    color: white;
 }
 header{
    font-family:'Times New Roman';
    background-color: rgb(252, 141, 159);
    padding: 10px;
    text-align: center;
 }
 nav ul{
   list-style-type: none;
   background-color: pink;
 }
 nav ul li a{
   text-decoration: none;
   color: white;
   font-weight: bold;
}
 main{
    font-family: 'Times New Roman';
    padding: 10px;
 }
 main ul li{
   background-color: pink;
 }
 section{
    font-family: 'Times New Roman';
    text-align: justify;
 }
 section h2{
   text-align: center;
   text-decoration-line: underline;
   background-color: pink;
   height: 50px;
 }
 section p{
   background-color: rgb(252, 141, 159);
 }
 section a {
   text-decoration: none;
   color: white;
   font-weight: bold;
   background-color: pink;
 }
 section ul {
   list-style-type: none;
   background-color: rgb(252, 141, 159);
 }
 section ul li{
   text-decoration: none;
   color: white;
 }
img {
   border: 4px dotted pink;
   width: 400px;
   height: auto;
   margin: 20px 0;
   display: block;
   text-align: center;
}
footer{
   background-color: rgb(252, 141, 159);;
   color: pink;
   text-align: center;
   padding: 1px;
   position: bottom;
   width: 100%;
}
footer a{
   color: rgb(252, 141, 159);
   text-decoration: none;
}
footer a:hover{
   text-decoration: underline;
}